@import "tailwindcss";

/* body {
  background: url(./premium_photo-1681400758430-cf4f3a6cf4a0.avif) no-repeat center center fixed;
  background-size: cover;
  backdrop-filter: blur(10px);
} */

@custom-variant dark (&:where(.dark, .dark *));
